@model TuiFlightModel.Models.Travel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Travel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OutboundFlightId" class="control-label"></label>
                <input asp-for="OutboundFlightId" class="form-control" />
                <span asp-validation-for="OutboundFlightId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OutboundDate" class="control-label"></label>
                <input asp-for="OutboundDate" class="form-control" />
                <span asp-validation-for="OutboundDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="OneWay" /> @Html.DisplayNameFor(model => model.OneWay)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ReturnFlightId" class="control-label"></label>
                <input asp-for="ReturnFlightId" class="form-control" />
                <span asp-validation-for="ReturnFlightId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
